[include]
  path = ~/.gitconfig.local

[core]
	editor = vim -c \"set fenc=utf-8\"

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto

[alias]
	st = status
	sh = show
	cm = commit
	cmt = commit -v
	coma = commit -a
	cma = commit -a
	co = checkout
	dc = diﬀ --cached
	df = diﬀ
	d = diﬀ -C
	ds = diﬀ -C --stat
	dsp = diﬀ -C --stat -pd
	w = diﬀ -C --color-words
	lg = log --graph --all --color --pretty=%x09%h %cn%x09%s %Cred%d
	l = log
	m = checkout master

[credential]
	helper = cache --timeout=3600

[ghq]
  root = ~/.ghq
  root = ~/.go/src
  root = ~/gitrepos
  root = ~/catkin_ws/src
